
/* root */
:root {
    --primary-text-color:#2E2F42;
    --desc-text-color:#434455;
    --primary-bg-color: #ffffff;
    --accent-color:#4D5AE5;
    --primary-white-color:#ffffff;
}

/* global */
body{
    color:var(--primary-text-color);
    background-color: var(--primary-bg-color) ;
    font-family: 'Roboto', sans-serif;
}
.list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.link{
    text-decoration: none;

}
.centered{
    text-align: center;
}

h1 ,h2 ,h3 ,h4, h5 ,h6 , ul , p{
   margin-top: 0;
   margin-bottom: 0;
}
/* Studio CSS */

/* header and footer */
.header{
    color: var(--primary-text-color);
    background-color:var(--primary-bg-color);

}
.main-nav{
    display: flex;
    align-items: center;
}
.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    color: var(--primary-text-color);
   
}
.blue-logo{
    color:var(--accent-color);
}
.site-nav{
    display: flex;
    margin-left: 78px;
}
.site-nav .item:not(:last-child){
    margin-right:40px;
}
.nav{
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    color:var(--primary-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
 
}

nav:hover,
nav:focus{
 color:var(--desc-text-color);
} 

.nav:active{
    color: var(--accent-color);
}
.info-nav{
display: flex;
margin-left: auto;
}

.info-nav .item + .item {
    margin-left: 40px;
}

.info{
    color: var(--desc-text-color);
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
}

.info:hover,
.info:focus{
    color:var(--accent-color);
}
.footer{
    background-color:var(--primary-text-color);
}
.footer .logo{
    color: #F4F4FD;
    margin-bottom: 16px;
}

.footer-text{
    color:#E7E9FC;
    margin: 0
    
}

/* hero */
.hero{
    color:var(--primary-white-color);
    background-color: var(--primary-text-color) ;
    text-align: center;
}
.hero .hero-title{
        margin-top: 0;
        margin-bottom: 48px;

        font-weight: 500;
        font-size: 56px;
        line-height: 107%;
       
 
}

/*button */
.hero .hero-button{
    color:var(--primary-white-color);
    background-color: var(--accent-color);

        min-width: 170px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;

        cursor: pointer;
        font-family: inherit;
        padding: 16px 32px;
        border-radius: 4px;

        display: inline-block;
        text-align: center;
}

.hero .hero-button:hover,
.hero .hero-button:hover{
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    
}
.hero .hero-button:active{
    background-color:#404BBF;
    color: var(--primary-white-color);
}
/* second-section */
.second-section {
background-color: var(--primary-bg-color);
}

.advances-menu{
    display: flex;
}

.advances-menu .item +.item{
        margin-left: 24px;
}
.secret-title{
    margin-top: 0;
    margin-bottom: 0;
}
.second-section .second-title {
    color: var(--primary-text-color);
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
            margin-bottom: 8px;


}
.second-section .second-desc {
    color:var(--desc-text-color);
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
}
/* third-section */
.third-section .third-title{
        font-weight: 500;
        font-size: 36px;
        line-height: 111%;
        margin-bottom: 72px;
}
.img-menu{
    display: flex;
}
/* fourth-section */
.fourth-section{
    background-color:#F4F4FD;;
}
.fourth-section .fourth {
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 72px;
}
.fourth-section .fourth-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 111%;
    margin-bottom: 8px;
}
.fourth-section .fourth-desc{
    color:var(--desc-text-color);
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
}
.fourth-img{
    margin-bottom: 32px;
}


/* Portfolio CSS */

.filter .filter-button{
    cursor: pointer;
    color:var(--accent-color);
    background-color: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        font-family: inherit;     
       
        padding: 12px 24px;  
        display: inline-block;
        text-align: center;
}


.filter .filter-button:hover,
.filter .filter-button:focus{
    background-color: var(--accent-color);
    color:#F4F4FD;
    cursor: pointer;
}
.card-menu{
    display: flex;
    flex-wrap: wrap;
}

.card-menu .item{
    width: 360px;
    margin-right: 24px;
    border: 0.5px solid #F4F4FD;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
        margin-bottom: 48px;
}
.card-menu .item:nth-child(3n){
    margin-right: 0;
}
.card-menu .item:nth-last-child(-n+3) {
    margin-bottom: 0;
}
.card-menu .portfolio-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color:var(--primary-text-color);
    
    margin-bottom: 8px;
    margin-left: 16px;
}

.card-menu .portfolio-desc{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color:var(--desc-text-color);
    
    margin-left: 16px;
    margin-bottom: 32px;
}
.portfolio-img{
    margin-bottom: 32px;
}

/* conteiner and section */
.container{
    margin-left: auto;
    margin-right: auto;
    width: 1158px;
     padding-left: 12px;
    padding-right: 12px;  

    /* outline: 2px solid orange; */

}

.second-section, 
.fourth-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.third-section{
    padding-bottom: 120px;
}
